{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h2>Practical <span>This Works</span> Stuff</h2>
    </div>
  </div>
{% endblock %}
